body {
    background-color: rgba(0, 0, 0, 0.0001);
    font-family: 'Roboto';
}

.content {
    width: 1280px;
    margin: 0 auto;
}

.logo__link {
    color: #000000;
}

.light_blue {
    color: #4BCAFF;
}

.nav__list {
    display: flex;
    font-size: 24px;
    height: 100%;

}

.nav__link {
    color: #FFFFFF;
    align-items: center;
    height: 100%;
    display: flex;
    border-left: 1px solid #FFFFFF;
    
}

.nav__link:hover{
    background: #222F3A;

}

.nav__link--fp {
    padding-right: 33px;
    padding-left: 32px;

}

.nav__link--ramda {
    padding-left: 38px;
    padding-right: 38px;
    
}

.nav__link--fls {
    padding-left: 40px;
    padding-right: 40px;
    
}

.nav__link--njfa {
    padding-left: 40px;
    padding-right: 36px;
    border-right: 1px solid #FFFFFF; ;
}

.header {
    margin-bottom: 48px;

}

.header__nav {
    background-color: #35444F;
    display: flex;
    justify-content: center;
    height: 69px;
   
}

.nav ul {
    margin: 0;
    padding: 0;

}

.header__nav ul {
    margin-left: 162px;
    margin-right: 133px;

}

.nav li {
    list-style-type: none;
    height: 100%;
    
}

.nav__list--aside {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    
}

.aside__nav {
    background: rgba(0, 0, 0, 0.0001);
    height: 100%;
    
}

.nav__list--aside li {
    color: #495863;
}

.nav__list--aside li:hover {
    color: #35444F;
    padding-left: 38px;
    transition: padding-left  .5s ease-in;
    background: #DBDBDB;

}

.nav__list--aside a {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
}

.nav__list--ramda {
    
    padding-left: 44px;
    padding-right: 194px;
    

}

.nav__list--why_ramda {
    
    padding-left: 38px;
    padding-right: 78px;
    

}

.nav__list--whats_dif {
    
    padding-left: 42px;
    padding-right: 82px;
    

}

.nav__list--introductions {
    
    padding-left: 44px;
    padding-right: 121px;
    

}

.nav__list--philosophy {
    
    padding-left: 44px;
    padding-right: 147px;
    
}
.main__image {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    width: 885px;
    margin: 0;

}

.main__image img {
    width: 320px;
    height: 381px;
    
}

.main__image img:hover {
    transform: scale(1.1);
    transition: transform 0.45s;

    
}

.grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

}

footer {
    display: flex;
    height: 69px;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    padding-left: 40px;
    padding-right: 40px;


} 



.nav__footer {
    font-size: 28px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 875px;
    padding: 0;
    
    
}

.nav__footer_link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    cursor: pointer;
}

.nav__footer li {
    height: 53px;

}

.nav__footer_link {
    align-items: center;
    display: flex;
    height: 100%;
}

.copyright{
    font-size: 24px;
    margin-left: auto;
    
}

main {
    width: 885px;

}



